<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <title>Add an Item</title>
</head>
<body>
<h1>Hello OldMcdonald</h1>
<h2>Fill in the information below to add an item to your listing</h2>
    <input type="text" name="location" placeholder="Location"><br><br>
    <input type="text" name="farmer" placeholder="Farmer Name"><br><br>
    <input type="text" name="item" placeholder="Item"><br><br>
    <input type="text" name="quantity" placeholder="Quantity"><br><br>
    <input type="text" name="price" placeholder="Price"><br><br>
    <button onclick="window.location.href = 'http://localhost:3000/Farmers';">Add Item</button>
</body>
</html>