<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<h1>Hello teden3191!</h1>
<h2>Welcome to the Online Farmer's Market</h2>
<br><br>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<table class="sortable" align="center" style="width:75%" bgcolor="#b6e1fc">
    </thead><tr><th>Location</th><th>Farmer</th><th>Item</th><th>Quantity</th><th>Price</th></tr>
    <tr><td>Francis Marion Square</td><td>Farmer Brown</td><td>Peaches</td><td>100</td><td>$0.45</td></tr>
    <tr><td>Francis Marion Square</td><td>Farmer Brown</td><td>Apples</td><td>100</td><td>$0.45</td></tr>
    <tr><td>Francis Marion Square</td><td>Farmer Brown</td><td>GreenBeans</td><td>50</td><td>$1.75</td></tr>
    <tr><td>Francis Marion Square</td><td>Farmer Brown</td><td>Corn</td><td>75</td><td>$1.00</td></tr>
    <tr><td>Francis Marion Square</td><td>Farmer Brown</td><td>CollardGreens</td><td>50</td><td>$.75</td></tr>
    <tr><td>Francis Marion Square</td><td>Old McDonald</td><td>Peaches</td><td>100</td><td>$0.50</td></tr>
    <tr><td>Francis Marion Square</td><td>Old McDonald</td><td>Apples</td><td>100</td><td>$0.50</td></tr>
    <tr><td>Francis Marion Square</td><td>Old McDonald</td><td>GreenBeans</td><td>50</td><td>$2.00</td></tr>
    <tr><td>Francis Marion Square</td><td>Old McDonald</td><td>Corn</td><td>75</td><td>$1.00</td></tr>
    <tr><td>Francis Marion Square</td><td>Old McDonald</td><td>CollardGreens</td><td>50</td><td>$.75</td></tr>
    <tr><td>Johns Island Farmers Market</td><td>Farmer Brown</td><td>Peaches</td><td>100</td><td>$0.45</td></tr>
    <tr><td>Johns Island Farmers Market</td><td>Farmer Brown</td><td>Apples</td><td>100</td><td>$0.45</td></tr>
    <tr><td>Johns Island Farmers Market</td><td>Farmer Brown</td><td>GreenBeans</td><td>50</td><td>$1.75</td></tr>
    <tr><td>Johns Island Farmers Market</td><td>Farmer Brown</td><td>Corn</td><td>75</td><td>$1.00</td></tr>
    <tr><td>Johns Island Farmers Market</td><td>Farmer Brown</td><td>CollardGreens</td><td>50</td><td>$.75</td></tr>
    <tr><td>Johns Island Farmers Market</td><td>Old McDonald</td><td>Peaches</td><td>100</td><td>$0.45</td></tr>
    <tr><td>Johns Island Farmers Market</td><td>Old McDonald</td><td>Apples</td><td>100</td><td>$0.45</td></tr>
    <tr><td>Johns Island Farmers Market</td><td>Old McDonald</td><td>GreenBeans</td><td>50</td><td>$1.75</td></tr>
    <tr><td>Johns Island Farmers Market</td><td>Old McDonald</td><td>Corn</td><td>75</td><td>$1.00</td></tr>
    <tr><td>Johns Island Farmers Market</td><td>Old McDonald</td><td>CollardGreens</td><td>50</td><td>$.75</td></tr>
</table>
</body>
</html>