body {
  background-image: url("https://blog.ed.gov/files/2019/08/AdobeStock_221344370.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 100px;
  color: rgb(0, 0, 153);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}


a {
  color: #00B7FF;
}
